.panel {
    position: fixed;
    float: left;
    width: 100%;
    height: 65px;
    left: 0px;
    bottom: 0px;
    z-index: 2;
    background-color: #EFEFEF;
}

.soundPlayer_controlsBlock {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 21px;
}

.soundPlayerContentBlock {
    position: relative;
    max-width: 980px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

.soundPlayerContent {
    display: flex;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    height: 50px;
}

.soundPlayer__progressBlock {
    display: flex;
    justify-content: space-between;
}

.progressTime {
    padding-left: 7px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #2465C7;
    margin-top: 19px;
}

.progressTime__end {
    margin-right: 0px;
}

.soundPlayer__buttons {
    flex-shrink: 0;
}

.soundPlayer__volumeControl {
    display: flex;
    margin-right: 15px;
}

.soundPlayer__volumeProgress {
    display: inline-block;
}

@media (max-width: 768px) {
    .soundPlayer__volumeControl {
        display: none;
    } 
}